body {
  background-color: #f4f1ef;
  color: #463e3b;
  font-family: "Lato", serif;
  margin: 0;
}

.main-container {
  max-width: 1160px;
  margin: 0 auto;
}
:root {
  --black: #463e3b;
  --white: #f4f1ef;
  --accent-color-light: #b2a69a;
  --accent-color-dark: #8f7e62;
  --main-font: "Lato", serif;
  --accent-font: "Nova Mono", serif;
}

.error-page-header {
  text-align: center;
  margin-top: 40px;
}
.error-page-link {
  text-align: center;
  margin-top: 60px;
  font-size: 16px;
  color: var(--black);
}
